.top {
  border-radius: 8px ;
  background-image: linear-gradient(to right, #5BBFBA , #5F6CAF);
}
.quick-quote {
  border-radius: 8px ;
  background-image: linear-gradient(to right, #5BBFBA , #5F6CAF);
}