.top {
  border-radius: 8px ;
  background-image: linear-gradient(to right, #5BBFBA , #5F6CAF);
}
.welcome {
  color: aliceblue;
  margin-left: 0.5em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 3em;
  font-weight: 600;
}
.welcome-text {
  color: aliceblue;
  margin-left: 1.5em;
  font-size: 1em;
  font-weight: 400;
}
.grid-items {
  border-radius: 8px ;
  background-color: white;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25em;
  justify-content: space-between;
  color: #5F6CAF;
  font-weight: 600;
}
.title-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
}
.icon-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5em;
}
.leadsavatar {
  border-radius: 25px;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.chatavatar {
  border-radius: 10px;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.revenueImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 41%;
}
.ratioImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43.35%;
}
.pieImg {
  width: 100%
}
.bar{
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}
.bartext {
  font-size: 0.85em;
  margin-right: 1em;
}
.destinations {
  width: 100%;
}